.main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#World404_num {
    border: none;
    width: 100%;
    height: 110%;
}

#World404_num2 {
    border: none;
    width: 100%;
    height: 110%;
}

#World404_num3 {
    border: none;
    width: 100%;
    height: 110%;
}

#World404_num4 {
    border: none;
    width: 100%;
    height: 110%;
}