    .movieBgBlue {
        position: absolute;
        z-index: 7;
        /* overflow: scroll; */
        display: block;
    }
    
    .movieBgBlue::-webkit-scrollbar {
        display: none;
    }
    
    .bgBlack {
        background-color: black;
        cursor: url(アンコウ.png);
        z-index: -14;
    }
    
    .manyF {
        position: relative;
        z-index: 9;
        overflow: hidden;
        display: block;
    }
    
    .manyF::-webkit-scrollbar {
        display: none;
    }